/*Created 2015-02-28 by the CodeCloud Team
This is a Saas file has an 'Asset Type' of SCSS. CSS will be compiled when saving.
For more information on asset types please see http://www.getcodecloud.com/docs#SaSS
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans');

body{
    color:#424242;
    font-family:'Open Sans';
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 769px) {
    .content_container{
        width:1024px;
        margin:0 auto;
    }
    .header{
        padding-top:14px;
        padding-bottom:22px;
        p{
            margin-bottom:0px;
        }
    }
    .social_icons{
        margin:0 -2.5px;
        img{
            width:35px;
            padding:0 2.5px;
            float:left;
        }
    }
    .main_logo{
        width: 104px;
        margin-top: 10px;
    }
    .search_field{
        height: 31px;
        font-size: 16px;
        border: 0;
        width: 160px;
        border-bottom: 1px solid #000;
        padding: 0;
        margin-top: 19px;
    }
    
    .search_btn{
        width: 30px;
        margin-left: 10px;
        float: right;
        margin-top: 20px;
        cursor: pointer;
    }
    
    .divider{
        margin: 0;
        border-top: 1px solid #000;
    }
    
    .menu_container{
        text-align:center;
        a{
            margin:0 55px;
        }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
 body{
   
  }
    
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   body{
      
  }
    
    
}